The virtualization role is {{ ansible_virtualization_role }}
the virtualization type is {{ ansible_virtualization_type }}
the operating system description is {{ ansible_lsb.description}}
distribution version is {{ ansible_distribution_version }}
DNs information:
{{ ansible_dns.options.edns0 }}
